body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
}
.titlebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3.0rem; /* 적절한 높이 설정 */
    z-index: 1000; /* 다른 요소 위에 오도록 */
    border-bottom: 1px solid #ccc; /* 구분선 (선택사항) */
    display: flex;
    justify-content: space-between;
    background: #FFE;
}

.titlebar h1 {
    line-height: 3rem;
    font-size: 2.35rem;
    margin: 0;
  }
.titlebar button.btn-close {
    margin: 10px;
}

.schedule {
    flex: 0 0 440px;
    margin: 50px 0 0 0;
}

.schedule ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

li.hour {
    width: 11.1%;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    border: 1px solid #CCC;
    cursor: pointer;
}

li.available {
    background: #5FB3EC;
}
li.available.selected {
    background: #77ff77;
    font-weight: bold;
}

li.reserved {
    background: #EEE;
    color: #AAA;
}

li.not-available {
    background: #FFEEEE;
    color: #766;
}

li.booked {
    background: #FDD;
    color: #444;
}


li.ok {
    background: #5FB3EC;
    color: #FFF;
}

.date-band {
    display: flex;
    justify-content: right;
    align-items: center;
}
.date-part {
    margin: 4px;
}

#date {
    font-weight: bold;
    font-size: 1.5rem;
    vertical-align: middle;
}

.resv-order-name {
    font-size: 0.8rem;
}

.resv-order-team {
    font-size: 0.6rem;
}
