body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titlebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3.0rem; /* 적절한 높이 설정 */
    z-index: 1000; /* 다른 요소 위에 오도록 */
    border-bottom: 1px solid #ccc; /* 구분선 (선택사항) */
    display: flex;
    justify-content: space-between;
    background: #FFE;
}

.titlebar h1 {
    line-height: 3rem;
    font-size: 2.35rem;
    margin: 0;
  }
.titlebar button.btn-close {
    margin: 10px;
}
.cal-parent {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 3.7rem;
}
.calendar {
    flex: 0 0 440px;
    margin: 0 50px 0 0;
}

ul.courts, ul.weekdays, ul.dates {
    margin: 0;
}

.calendar .courts {
    display: flex;
    flex-wrap: wrap;
    padding: 1px 0 0 1px;
}

.calendar .courts li {
    width: 12.5%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    border: 1px solid #CCC;
    cursor: pointer;
}

.calendar .dates {
    display: flex;
    flex-wrap: wrap;
    padding: 1px 0 0 1px;
}

.calendar .weekdays {
    display: flex;
    flex-wrap: wrap;
    padding: 1px 0 0 1px;
    cursor: pointer;
}

.calendar .weekdays li {
    width: 14.285%;
    list-style: none;
    text-align: center;
}

.calendar .dates li {
    width: 14.285%;
    list-style: none;
}

.calendar .dates li p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: -1px 0 0 -1px;
    height: 45px;
    border: 1px solid #CCC;
    font-size: 14px;
}

.right-panel {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hours-select-box {
    display: flex;
    border: 1px solid #ddd;
    padding: 5px 15px;
}

.time-select-box {
    border: 1px solid #ddd;
    margin-top: 15px;
    padding: 5px 15px;
    display: flex;
    flex-wrap: wrap;
}

.temp-output-box {
    border: 1px solid #ddd;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.output-item {
    border: 1px solid #DDC;
    border-radius: 8px;
    margin: 4px 0px;
    padding: 4px 10px;
    background: #FFE;
}

.hours-item {
    width: 90px;
}

.hour-item {
    width: 90px;
    padding: 2px 5px;
}

.hour-item label {
    cursor: pointer;
}

.hour-item.ok {
    background: #5FB3EC;
}

li.no {
    background: #F9F9F9;
    cursor: pointer;
}

li.on {
    background: #FAEFDD;
    cursor: pointer;
}

li.off {
    background: #DFEEFD;
}

li.ok {
    background: #5FB3EC;
    color: #FFF;
}
.calendar .head {
    text-align: center;
}
#year_month {
    font-size: 25px;
    font-weight: bold;
}

.right-panel .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #38b6f1;
    margin: 30px 0 0 0;
    height: 55px;
}

.lower-box {
    margin: 0px 30px;
}

.item-title {
  border-left: 3px solid #38b6f1;
  padding: 0 0 0 8px;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 20px 0 5px 0;
}

.menu-parent {
    border: 1px solid #ddd;
    padding: 15px;
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.menu-item {
  width: 350px;
  border: 1px solid #DDC;
  border-radius: 8px;
  margin: 4px 0px;
  padding: 4px 20px;
  background: #EEF;
  cursor: pointer;
}

.menu-action {
}

.account-parent {
    border: 1px solid #ddd;
    padding: 15px;
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
}

.account-wrapper {
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

.account-item {
  border: 1px solid #DDC;
  border-radius: 8px;
  margin: 4px 0px;
  padding: 4px 20px;
  background: #EEF;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.account-item.active {
  border: 2px solid #339;
}

.label-for-input {
  display: inline-block;
  flex-shrink: 0;
  text-align: right;
  margin: 0px 5px 0px 20px;
}

.others-parent {
    border: 1px solid #ddd;
    padding: 15px;
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
}

.others-item {
  border: 1px solid #DDC;
  border-radius: 8px;
  margin: 4px 20px;
  padding: 4px 20px;
  background: #EEF;
  display: flex;
  align-items: center;
}


.dialog-buttons {
  margin: 15px 30px;
}

.dialog-buttons button.btn-success {
  padding: 20px;
}

.time-line li.hour {
    width: 12.5%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    border: 1px solid #CCC;
    cursor: pointer;
}

.court-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #333;   /* 네모 테두리 */
  border-radius: 4px;       /* 0으로 하면 완전 네모 */
  font-weight: 600;
  margin-right: 4px;
}

